body{
    background-color: rgb(115, 171, 223);
}

header h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
    text-align: center;
    text-transform: uppercase;
    padding: 40px 20px 10px;
    color: white;
}

header p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    text-align: center;
    text-transform: uppercase;
    padding: 0px 20px 20px;
    color: white;
}

#backgroundImage{
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
                    url(../images/headerBackground.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.navbar{
    padding: 0px 20px 50px;
    background-color: rgb(115, 171, 223) !important;
}

.navbar-toggler{
    background-color: white;
}

.navbar-toggler:hover{
    opacity: 0.5;
}

.navbar a{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding: 15px 0px 0px;
    text-transform: uppercase;
    color: black !important; 
}

.navbar .nav-item:hover{
    opacity: 0.5;
}

#userImage{
    max-width: 50%;
    display: flex;
    margin-top: -40px;
    margin-right: auto;
    margin-left: auto;
    transform: rotate(25deg);
    -webkit-transform: rotate(25deg);
    -moz-transform: rotate(25deg);
    -ms-transform: rotate(25deg);
    -o-transform: rotate(25deg);
}

.cardSize, .cardSize-portfolio{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding: 10px 15px 10px;
}

.cardSize-portfolio{
    min-height: 500px;
    max-height: 700px;
    overflow: auto;
}

.container-fluid .row article .card h2{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}

.container-fluid .row article .card p{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    text-align: left;
    padding-right: 5px;
    padding-left: 5px;
}   

#icon{
    text-align: center;
    font-size: 50px;
    padding: 0px 5px 5x;
}
.facebookIcon{
    color: blue;
}

.facebookIcon:hover{
    opacity: 0.5;
}

.githubIcon{
    color: black;
}

.githubIcon:hover{
    color: blue;
}
.textTitle{
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
}

.text{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px 5px 0px;
    margin-bottom: 5px;
}

.tab4{
    display: inline-block;
    margin-left: 20px;
}

#pageContainer{
    position: relative;
    min-height: 100px;
}

#wrapper{
    padding-bottom: 40px;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
}

footer p{
    font-size: 15px;
    text-align: center;
}

.italic{
    font-style: italic;
}

.fullWidth{
    width: 100%;
    min-height: 200px;
    max-height: 300px;
}

.imgBorder{
    border: 1px solid black;
}

.capText{
    color: black;
}

.textIcon {
    font-size: 30px;
    color: black;
}

.textIcon:hover{
    color: blue;
}

.youtube-icon{
    font-size: 30px;
    color: red;
}

.youtube-icon:hover{
    color: blue;
}

@media (min-width: 768px)
{
    .navbar a{
        font-family: 'Roboto', sans-serif;
        font-size: 30px;
        font-weight: lighter;
        text-transform: uppercase;
        color: black !important; 
    }
    
    .rightText{
        text-align: right;
    }
    .centerText{
        text-align: center;
    }
}







